p{
    color:black;
    font-size: 21px;
}

h1{
    font-size: 60px;
    color: black;
}


hr{
    margin: 0em 7em 0em 7em;
}

h2{
    color:black;
}

strong {
    color:#e6433f;
}

.altBackground  {
    background-color:#90d3d1;
    padding: 40px;
}



.altText {
    color: ivory;
}

.sPadding{
    padding: 0em 2rem 0em 2rem;
}


