<div class="container">
    <h1 class="text-center mt-5 mb-5">About Me!</h1>
    <hr class="mb-5">
    <div class="sPadding">
        
        <div class="row">
            <div class="mb-5 col-6">

                <h2>Bio</h2>
                <p>Hi, my name is Katie Kosak, and I am a baker! But before I was a baker I spent 16 years in various public school
                    systems working as a teachers aid in special needs classrooms. Although it was hard work, 
                    the kids there were at the center of my heart. However as time went on the job only continued 
                    to get harder and harder and I knew that a change would need to come soon. 
                    I had always loved to bake especially around Christmas time where my list of yearly cookies only 
                    kept growing. Eventually I began to offer my cookies to other people like my cooworkers and members 
                    of my church family. From there my buisness steadily continued to grow until I decided it was time to 
                    leave my job at Nuner Elementary and strike out on my own! 
                </p>

                <p>
                    From here it was off to the races! I began to publicise my buisness more and more through outlets like 
                    Instagram, Facebook, and Pinterest (links at the bottom of the page!). I recently started a monthly newsletter,
                    send me your info if you'd like to be added to that list too. I also became active in the local South Bend community 
                    farmers market. In the summer you can find me outside of the farmers market under my Notre Dame tent (GO IRISH!!) selling 
                    everything from your classic chocolate chip cookie, to seasonal specials like apple dumplings in the fall, which were a big hit in 2020.
                    I'm always looking to grow my small buisness in new and exciting ways that can benefit the community and I hope that you will
                    lend me your patronage as we all look towards a brighter future. 
                </p>

            </div>

            <div class="col-6 d-flex align-items-center">
                <img src="https://res.cloudinary.com/dsiitt52r/image/upload/v1610979175/Kate%20Bake%27s/farmers_market_bbphcy.png" alt="A picture of me!">  
            </div>
            
        </div>


        <div class="altBackground container-fluid">
            <div>
                <h2 class="altText">Our Promise</h2>
                <p class="altText">
                    All of my products are made in the comfort of my own home kitchen. There is nothing cold or industrial about it, 
                    instead you'll find a warm and comfortable place where I can create and meet the needs of my customers. To say a word on 
                    food related allergies. <strong>I have extensive experience baking with gluten alergies in mind</strong>. This comes from baking
                    for my own mother who was recently diagnosed with celiac disease. Rest assured that when it comes to the safety and level of clenliness 
                    in my kitchen, I always operate at the highest possible standards. In addition to gluten allergies I also cater to the needs of those with 
                    diabetes and many of my creations can come in a sugar free version if needed. Lastly I have very little experience, however I continue to grow, 
                    in working with other dietary restrictions such as vegitarian and vegan. If this is something you require then get in contact with me on facebook or
                    shoot me an email and we will see if we can work something out!
                </p>
            </div>
        </div>


        <div>
            <div>
                <h2 class="mt-5">My Family</h2>
                <p>
                    Undertaking a new buisness is a lot of work, and it can be very difficult to do on your own. Luckily I have a pretty stellar family, but hey I'm a
                    little biased. I'm married to my husband Lowell and together we have two sons and a daughter in law. Daniel is my eldest and he currently works as 
                    a CNA and is enrolled in nursing school. He has a love for all things lovable and in need, you would be hard pressed to find someone like him anywhere else. My youngest son, Noah,
                    and his wife, Aspen live in Michigan and were recently married! Aspen loves to bake (what a coincidence, right!), has a degree in culinary management, and has even 
                    started her own small cookie operation out of her own kitchen working with her mother. Noah worked in EMS for a time as an EMT but has since left that job 
                    to study web development full time (I have him to thank for this website!). All of these people including my extended family have helped me to make Kate Bakes
                    what is is today, and I am very thankful. Quick shoutout to Lacey Klophenstein, a brilliant baker in her own right, she helps me from time to time with my sugar cookie 
                    decoration bringing her incredible eye for detail and color combinations to beautiful pieces of edible art. 
                </p>
                <p class="mb-5">
                    My husband Lowell and I have been married for 31 years in 2020, and hey we even like each other most days! Lowell has worked in ministry for 33 years and it has 
                    taken us all around Kentucky, Michigan, Ohio, and now Indiana. Now he is a campus minister working for Impact Campus Ministry. He planted the team that works for 
                    Impact in South Bend. Since then he has been promoted to the Director of Spiritual Formation overseeing multiple teams across the country. Together the two of us 
                    run the Impact Campus House of South Bend. Here we offer housing in our apartments for college age students attending local colleges like St. Mary's, IU South Bend,  
                    Ivy Tech, and Notre Dame. We have created a space for students in our home that fosters community and opens up all kinds of possibilities for personal and spiritual growth. 
                </p>
            </div>
        </div>

    </div>
</div>
   